<ion-header>
  <ion-navbar>
    <ion-title>Times</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Bem vindo a esse app meio muito zoado</h2>
  <div padding>
    <form [formGroup]=form>
      <div class="col-2">
        <ion-card>
          <ion-card *ngFor="let campeonato of campeonatos">
            <ion-card-header>{{campeonato.nome}} - {{campeonato.edicao_atual.temporada}}</ion-card-header>
          </ion-card>
          <ion-card *ngFor="let time of times">
            <ion-item>
              <ion-avatar item-start>
                <img [src]="time.time.escudo">
              </ion-avatar>
              <h2 class="red">{{time.posicao}} - {{time.time.nome_popular}}  <!--fica faltando a implemtentação dos detalhes ou mais informações--><a>+</a></h2>
            </ion-item>
          </ion-card>
        </ion-card>
      </div>
    </form>
  </div>
  <li>
    <button ion-button (click)="voltar()"> Voltar </button> 
  </li>
</ion-content>